@import './variables.css';

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color);
  padding: 7%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-btn-color-1);
}

.btn-primary:hover {
  background-color: var(--hover);
}
