.book-title-input {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc; /* Add border-bottom instead of full border */
  border-radius: 0;
  transition: border-color 0.3s ease;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.booksHome {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
}
.noBooksMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60vh;
}
.booksCreated {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  padding: 1%;
}
.book {
  background-color: #4caf50; /* A nicer green color */
  color: white; /* Make text stand out */
  padding: 10px;
  margin: 10px;
  height: 160px;
  width: 120px;
  position: relative;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Add shadow for 3D effect */
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.book:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  background-color: #388e3c; /* Darker shade for spine */
  border-radius: 5px 0 0 5px; /* Rounded corners */
}

.book div {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.book:hover {
  cursor: pointer;
  transform: scale(1.05); /* Slightly enlarge the book */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}
.searchSection {
  display: flex;
  margin-top: 1.5%;
  width: 40%;
}
.createBookBtn {
  height: 160px;
  width: 130px;
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 15px 30px; /* Padding for a larger button */
  padding: 10px;
  margin: 10px;
  font-size: 16px; /* Larger font size */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Add shadow for 3D effect */
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s; /* Smooth transitions */
}

.createBookBtn:hover {
  background-color: #388e3c; /* Darker green on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}

/* Book Container */
.book-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Book Sidebar */
.book-sidebar {
  width: 15%; /* Adjusted for better spacing */
  background-color: #2c3e50; /* Darker shade for better focus */
  color: #ecf0f1; /* Light text for contrast */
  padding: 20px;
  overflow-y: auto; /* Ensures scrollability on overflow */
}

.book-sidebar h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Improved interactivity */
.book-sidebar li {
  padding: 10px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease-in-out;
}

.book-sidebar li:hover {
  background-color: #34495e;
}

/* Book Main Content */
.book-main {
  flex-grow: 1;
  padding: 20px;
}

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.book-title-input:focus {
  outline: none;
  border-color: #007bff;
}

.book-pagination .book-button {
  background-color: #fff;
  color: #007bff;
  border-radius: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-pagination .book-button:hover {
  color: red;
}

.content {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* Editor Styles */
.editor-container {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 4px;
}

.editor-textarea {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.ql-editor {
  height: 1056px !important;
  padding: 2% !important;
}

.book-sidebar {
  padding: 20px;
}

.pages-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.page-overview {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 160px;
  transition:
    box-shadow 0.3s,
    transform 0.3s;
}

.page-overview:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.page-number {
  display: none;
  font-weight: bold;
  margin-bottom: 5px;
}

.page-content {
  margin: 0;
  padding: 4% 4%;
  margin-top: 10;
  color: black;
  overflow: hidden;
  width: 100px;
  text-overflow: ellipsis;
  height: 160px;
}
.page-content * {
  margin: 0;
  padding: 0;
  text-wrap: nowrap;
  transform: scale(0.2);
  transform-origin: 0 0;
  line-height: 0.3;
}

.page-content p:has(br) {
  display: none;
}

.page-add:hover {
  cursor: pointer;
}

.contextMenu {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contextMenu div {
  padding: 5px 10px;
  cursor: pointer;
}

.contextMenu div:hover {
  background-color: #f0f0f0;
}

/* BookEditor.css */

.book-editor {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.book-editor h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group input[type='text'],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.color-swatch {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.popover {
  position: absolute;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.tags-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag-item {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.tag-item .tag-close {
  margin-left: 8px;
  color: #888;
  cursor: pointer;
}

.tag-item .tag-close:hover {
  color: #555;
}

.tags-input input[type='text'] {
  border: none;
  padding: 5px;
  flex: 1;
  min-width: 120px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel-button,
.save-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f44336;
  color: #fff;
}

.save-button {
  background-color: #4caf50;
  color: #fff;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.save-button:hover {
  background-color: #388e3c;
}

.display-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display-column {
  display: flex;
  flex-direction: column;
}
