.book-title-input {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc; /* Add border-bottom instead of full border */
  border-radius: 0;
  transition: border-color 0.3s ease;
}

  /* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.booksHome {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
  
}
.noBooksMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 60vh; 
}
.booksCreated{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  padding: 1%;
}
.book {
  background-color: green;
  padding: 1%;
  margin: 1%;
  height: 160px;
  width: 130px;
}
.searchSection{
  display: flex;
  margin-top: 1.5%;
  width: 40%;
}
.createBookBtn{
  height: 160px;
  width: 130px;
  padding: 1%;
  margin: 1%;
}

/* Book Container */
.book-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Book Sidebar */
.book-sidebar {
  width: 15%;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  overflow: auto;
  height: 1250px;
}

.book-sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.book-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.book-sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.book-sidebar li:hover {
  color: #fff;
  font-weight: bold;
}

/* Book Main Content */
.book-main {
  flex-grow: 1;
  padding: 20px;
}

.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.book-title-input:focus {
  outline: none;
  border-color: #007bff;
}

.book-pagination .book-button {
  background-color: #fff;
  color: #007bff;
  border-radius: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-pagination .book-button:hover {
  color: red;
}

.content {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* Editor Styles */
.editor-container {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 4px;
}

.editor-textarea {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.ql-editor {
  height: 1056px !important;
}

.book-sidebar {
  padding: 20px;
}

.pages-overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
}

.page-overview {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  width: 80%;
  padding-left: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 160px
}
.page-overview:hover{
  cursor: pointer;
}

.page-number {
  display:none;
  font-weight: bold;
  margin-bottom: 5px;
}

.page-content {
  margin: 0;
  margin-top: 10;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 160px;
}
.page-content * {
  margin: 0;
  padding: 0;
  transform: scale(0.2);
  transform-origin: 0 0;
}

.page-content p:has(br) {
  display: none;
}

.page-add:hover{
  cursor: pointer;
}
