/* header.css */
.header {
  background-color: var(--primary-color);
  color: var(--font-color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo-img {
  max-width: 250px; /* Adjust the width to your desired size */
  height: auto;
}

.nav-item span {
  background-color: transparent;
  cursor: pointer;
}

.link {
  list-style: none;
  color: var(--font-color-1);
  text-decoration: none;
}
.nav-link:hover {
  color: var(--hover);
}

.nav {
  text-align: right; /* Align the navigation items to the right */
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end; /* Align the list items to the right */
}

.nav-item {
  cursor: pointer;
  font-weight: bold;
}
