.carousel-container {
  width: 50%;
}
.carousel-caption {
  background-color: rgba(255, 255, 255, 0.8); /* Fade white background for the caption */
  color: #000; /* Text color */
  padding: 20px;
  border-radius: 8px;
}

.carousel-caption h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption p {
  font-size: 18px;
}
.carousel-item img {
  width: 100%;
  max-width: 1000px; /* Adjust the maximum width as needed */
  max-height: 400px; /* Adjust the maximum height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  margin: 0 auto; /* Center the images horizontally */
}
